<!DOCTYPE html>
<html lang="en" manifest="/cache.manifest">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta charset="utf-8">
		<title>Decision Tree</title>
		<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
		<script src="//d3js.org/d3.v3.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
	</head>
	<body ng-app="app" ng-controller="Ctrl as vm">
	<nav class="navbar navbar-default">
	    <div class="container-fluid">
	        <!-- Brand and toggle get grouped for better mobile display -->
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	        </div>

	        <!-- Collect the nav links, forms, and other content for toggling -->
	        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	            <ul class="nav navbar-nav">
	                <li><a href="#" ng-click="vm.NewTree()"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> New</a></li>
	                <li><a href="#" ng-click="vm.LoadFile($event)"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Load</a></li>
	                <li><a href="#" ng-click="vm.SaveFile($event)"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save</a></li>
	                <li><a href="#" ng-click="vm.ExportImage($event)"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Export Image</a></li>
	                <li><a href="#" ng-click="vm.DisplaySettings()"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Display Settings</a></li>
	            </ul>
	        </div><!-- /.navbar-collapse -->
	    </div><!-- /.container-fluid -->
	</nav>
    <div id="container"></div>
	
	<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Edit Node</h3>
        </div>
        <div class="modal-body">
			<div class="form-group">
				<label>Node Name</label>
				<input type="text" class="form-control" placeholder="Name" ng-model="vm.currNode.name" />
			</div>

			<div class="form-group" ng-show="{{!vm.currNode.TreeStyle}}">
				<label>Type</label>
				<select ng-model="vm.currNode.Type" class="form-control">
					<option value="d" ng-selected="vm.currNode.Type=='d'" ng-if="(vm.currNode.children&&(vm.currNode.children.length>0))">Decision</option>
					<option value="c" ng-selected="vm.currNode.Type=='c'" ng-if="(vm.currNode.children&&(vm.currNode.children.length>0))">Chance</option>
					<option value="e" ng-selected="vm.currNode.Type=='e'" ng-if="!(vm.currNode.children&&(vm.currNode.children.length>0))">End</option>
				</select>
			</div>

			<div class="form-group" ng-show="{{vm.currNode.parent.Type=='c'}}">
				<label>Probability</label>
				<input type="number" class="form-control" placeholder="Probability" ng-model="vm.currNode.Probability" />
			</div>

			<div class="form-group" ng-show="{{vm.currNode.Type=='e'}}">
				<label>Value</label>
				<input type="number" class="form-control" placeholder="Value" ng-model="vm.currNode.ExpVal" />
			</div>
        </div>
        <div class="modal-footer">
			<span class="pull-left">
				<button class="btn btn-primary" ng-click="vm.AddChild()">Add Child Node</button>
				<button class="btn btn-default" ng-click="vm.DeleteNode()">Delete Node</button>
			</span>
            <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
        </div>
    </script>

	<script type="text/ng-template" id="displaySettings.html">
        <div class="modal-header">
            <h3 class="modal-title">Display Settings</h3>
        </div>
        <div class="modal-body">

			<div class="form-group">
				<label>Line Type</label>
				<select ng-model="vm.currNode.LineStyle" class="form-control">
					<option value="a" ng-selected="vm.currNode.LineStyle=='a'">Angle</option>
					<option value="s" ng-selected="vm.currNode.LineStyle=='s'">Square</option>
					<option value="c" ng-selected="vm.currNode.LineStyle=='c'">Curve</option>
				</select>
			</div>
			
			<div class="form-group">
				<label>Line Type</label>
				<select ng-model="vm.currNode.TreeStyle" class="form-control">
					<option value="tree" ng-selected="vm.currNode.TreeStyle=='tree'">Standard</option>
					<option value="cluster" ng-selected="vm.currNode.TreeStyle=='cluster'">Cluster (End Nodes Always Aligned)</option>
				</select>
			</div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
        </div>
    </script>

    <script type="text/ng-template" id="openFile.html">
        <div class="modal-header">
            <h3 class="modal-title">Open File</h3>
        </div>
        <div class="modal-body">

            <div class="form-group">
                <label>Select File</label>
                <input type="file" fileread="vm.uploadme">
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="vm.SaveFile()">OK</button>
        </div>
    </script>


	<script>
	var treeData=null;
	if(localStorage&&localStorage.getItem("tree"))
	{
		treeData=JSON.parse(localStorage.getItem("tree"));
		if(!treeData[0].TreeStyle){
			treeData[0].TreeStyle="tree";
			treeData[0].LineStyle="a";
		}
	}else
	{
		treeData=[
		  {
			"TreeStyle":"tree",
			"LineStyle":"a",
			"name": "Top Level",
			"ExpVal":0,
			"parent": "null",
			"Type":"d",
			"children": []
		  }
		];
	}

	function CalcEV(node)
	{
		switch(node.Type) {
			case("c"):
				var sum=0;
				sum=(!node.children)?0:node.children.reduce(function(val,elem){return val+elem.ExpVal*elem.Probability},0);
				return sum;
			break;
			case("d"):
				var max=0;
				max=(!node.children)?0:node.children.reduce(function(val,elem){return elem.ExpVal>val?elem.ExpVal:val;},0);
				return max;
			break;
		}
	}	
	
	//function 
	
	var ctrl = function ($scope,$modal) {
		var self = this;
		self.title = 'Some title';
		
		self.Open = function (item, size) {
			self.currNode=item;
			var modalInstance = $modal.open({
			  animation: true,
			  templateUrl: 'myModalContent.html',
			  controller: 'ModalInstanceCtrl as vm',
			  size: size,
			  resolve:{currNode:function(){return self.currNode}},
			});

			modalInstance.result.then(function (selectedItem) {
				main.RenderTree(self.currNode);
			}, function () {
			  
			});
		  };
		  
		  self.DisplaySettings = function () {
			var modalInstance = $modal.open({
			  animation: true,
			  templateUrl: 'displaySettings.html',
			  controller: 'ModalInstanceCtrl as vm',
			  resolve:{currNode:function(){return treeData[0]}},
			});

			modalInstance.result.then(function (selectedItem) {
				main.SetupTree();
				main.RenderTree(self.currNode);
			}, function () {
			  
			});
		  };

	    self.LoadFile = function() {

	        var modalInstance = $modal.open({
	            animation: true,
	            templateUrl: 'openFile.html',
	            controller: 'ModalInstanceCtrl as vm',
	            resolve: { currNode: function () { return treeData[0] } }
	        });

	        modalInstance.result.then(function(selectedItem) {
	            if (selectedItem) {
	                var reader = new FileReader();
	                reader.onload = (function(file) {
                        return function(e) {
                            treeData = JSON.parse(e.target.result);
                            main.SetupTree();
                            main.RenderTree(self.currNode);
                        }
	                })(selectedItem);
	                reader.readAsText(selectedItem);
	            }
	        }, function () {
			  
	        });
	    };
		  
		self.SaveFile = function (event){
		
		    var json = JSON.stringify(treeData,function( key, value) {
					if( key == 'parent') { return value.name;}
					else if( key == 'depth') { return undefined;}
					else if( key == 'x') { return undefined;}
					else if( key == 'y') { return undefined;}
					else {return value;}
					});

		    self.FileDownloader("decisiontree.tree", json, 'text/plain');

		    if (localStorage) {
		        localStorage["tree"] = json;
		    }
		};

		self.ExportImage = function (event) {
		    var xml = main.SVG().node().parentNode.parentNode.innerHTML;
		    self.FileDownloader("decisiontree.svg", xml, 'octet/stream');
	    }; 
		  
		self.NewTree = function(){
			treeData = [
				{
					"TreeStyle":"tree",
					"LineStyle":"a",
					"name": "Top Level",
					"ExpVal":null,
					"parent": "null",
					"Type":"d",
					"children": []
				}];
			main.SetupTree();
			main.RenderTree();
		};

		self.FileDownloader = function(fileNameToSaveAs, textToWrite, type) {
	        var ie = navigator.userAgent.match(/MSIE\s([\d.]+)/),
	            ie11 = navigator.userAgent.match(/Trident\/7.0/) && navigator.userAgent.match(/rv:11/),
	            ieEDGE = navigator.userAgent.match(/Edge/g),
	            ieVer = (ie ? ie[1] : (ie11 ? 11 : (ieEDGE ? 12 : -1)));

	        if (ie && ieVer < 10) {
	            console.log("No blobs on IE ver<10");
	            return;
	        }

	        var textFileAsBlob = new Blob([textToWrite], {
	            type: type
	        });

	        if (ieVer > -1) {
	            window.navigator.msSaveBlob(textFileAsBlob, fileNameToSaveAs);

	        } else {
	            var downloadLink = document.createElement("a");
	            downloadLink.download = fileNameToSaveAs;
	            downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
	            downloadLink.onclick = function(e) { document.body.removeChild(e.target); };
	            downloadLink.style.display = "none";
	            document.body.appendChild(downloadLink);
	            downloadLink.click();
	        }
	    }
	};
	
	var ModalInstanceCtrl = function ($modalInstance, currNode) {
		this.currNode=currNode;

		this.ok = function () {
			$modalInstance.close('ok');
		};

		this.SaveFile= function () {
		    $modalInstance.close(this.uploadme);
		};

		this.cancel = function () {
			$modalInstance.dismiss('cancel');
		};

		this.DeleteNode = function () {

            if(this.currNode.parent){
                var parent=this.currNode.parent;
                parent.children.splice(parent.children.indexOf(this.currNode), 1);
            }
        };
		
		this.AddChild = function () {
		    var treeNode = main.tree.nodes(this.currNode)[0];
			if(!treeNode.children){ treeNode.children=[];}
			var newChild = {
				"name": "NewNode",
				"parent": this.currNode.name,
				"Probability":null,
				"ExpVal":null,
				"Type":"e",
				"x":treeNode.x,
				"y":treeNode.y
			};
			treeNode.Type = treeNode.Type == "e"?"c":treeNode.Type;
			treeNode.children.push(newChild);
		};
	};
	
	var app = angular.module("app",['ui.bootstrap'])
	.controller('Ctrl',ctrl)
	.controller('ModalInstanceCtrl', ModalInstanceCtrl)
	.directive("fileread", [function () {
	    return {
	        scope: {
	            fileread: "="
	        },
	        link: function (scope, element, attributes) {
	            element.bind("change", function (changeEvent) {
	                scope.$apply(function () {
	                    scope.fileread = changeEvent.target.files[0];
	                    // or all selected files:
	                    // scope.fileread = changeEvent.target.files;
	                });
	            });
	        }
	    }
	}]);

	var main = (function(){
		var height;
		var width;
		var root;
		var tree;
		var svg;
		var diagonal;
		var i;
		var rtn = {
		    Tree: function () { return tree; },
            SVG: function() { return this.svg;  },
		    SetupD3 : function()
			{
				var margin = {top: 20, right: 120, bottom: 20, left: 120}
				this.width = 1024 - margin.right - margin.left,
				this.height = 800 - margin.top - margin.bottom;

				this.svg = d3.select("#container").append("svg")
                    .attr("version", 1.1)
		            .attr("xmlns", "http://www.w3.org/2000/svg")
			        .attr("width", this.width + margin.right + margin.left)
			        .attr("height", this.height + margin.top + margin.bottom)
                    .append("g")
					.attr("transform", "translate(" + margin.left + "," + margin.top + ")");
			},
			
			SetupTree : function(){
				this.tree = this.TreeStyle(treeData[0].TreeStyle)
					.size([this.height, this.width]);
					//.separation(function(){return 2;});

				this.diagonal = d3.svg.diagonal()
					.projection(function(d) { return [d.y, d.x]; });

				this.root = treeData[0];
				
				this.i=this.root.maxId||0;
				this.root.maxId=this.i;
				
			},
			
			TypeToShape : function(type)
			{
				switch(type)
				{
					case "e":
						return "triangle-up";
					case "d":
						return "square";
					case "c":
						return "circle";
				}
			},
			
			TypeToColour : function(type)
			{
				switch(type)
				{
					case "e":
						return "green";
					case "d":
						return "red";
					case "c":
						return "orange";
				}
			},
			
			AngleElbow : function (d, i) 
			{
				return "M" + (d.source.y+10) + "," + d.source.x
				+ "L" + (d.source.y+50)+","+d.target.x + "H" + d.target.y;
			},
			
			SquareElbow : function (d, i) 
			{
				return "M" + d.source.y + "," + d.source.x
				+ "V" + d.target.x+"H" + d.target.y;
			},
			
			TreeStyle:function(style)
			{
				switch(style)
				{
					case "tree":
						return d3.layout.tree();
					case "cluster":
						return d3.layout.cluster();
				}
			},
			
			LineStyle:function(style)
			{
				switch(style)
				{
					case "a":
						return this.AngleElbow;
					case "s":
						return this.SquareElbow;
					case "c":
						return this.diagonal;
				}
			},
			
			
			
			RenderTree : function(parent) {
				var self = this;
				
				
				// Compute the new tree layout.
				var nodes = self.tree.nodes(self.root).reverse(),
				links = self.tree.links(nodes);

				if(self.root.TreeStyle=="tree"){
					// Normalize for fixed-depth.
					nodes.forEach(function(d) { d.y = d.depth * 120; });
				}

				// Declare the nodes
			    var select = self.svg.selectAll("g.node");
				var node = select.data(nodes, function(d) 
						{ 
							if(d.Type!=="e"){
								d.ExpVal=function(){return CalcEV(d);}();
							}
							var nodeid=d.id || (d.id = ++self.i);
							self.root.maxId=nodeid>self.root.maxId?nodeid:self.root.maxId;
							return nodeid;
						});

				// Enter the nodes.
				var nodeEnter = node.enter().append("g")
				.attr("class", "node")
				.attr("transform", function(d) { 
				return "translate(" + d.y + "," + d.x + ")"; });

				nodeEnter.append('path')
				.attr("d", d3.svg.symbol().type(function(d)
				{
					return self.TypeToShape(d.Type);
				})
				.size(300))
				.attr("transform", function(d) {
				    var transform = "translate(" + 2 + "," + -1 + ")";
					if (d.Type==="e")
					{
						transform = transform+" rotate(30)"; 
					}
					return transform;
				})
				.style("fill", function(d){
					return self.TypeToColour(d.Type);
				});

				nodeEnter.append("text")
				   .attr("class","name")
				   .attr("x", "-10")
				   .attr("y", "-10")
				   .attr("dy", ".35em")
				   .attr("text-anchor", "end")
				   .text(function (d) { return d.name; })
                   .style("font", "12px sans-serif")
				   .style("fill-opacity", 1);

				nodeEnter.append("text")
				   .attr("class","prob")
				   .attr("x", function(d) { return d.Type == "e" ? "15" : "-20"; })
				   .attr("y", function(d) { return d.Type == "e" ? "10" : "30"; })
				   .attr("dy", ".35em")
				   .attr("text-anchor", function (d) { return d.Type == "e" ? "start" : "end"; })
				   .text(function(d) { return d.Probability; })
				   .style("fill-opacity", 1)
                   .style("font", "12px sans-serif")
				   .style("fill","green");


				nodeEnter.append("text")
				   .attr("class","expval")
				   .attr("x", function(d) { return d.Type == "e" ? "15" : "-20"; })
				   .attr("y", function(d) { return d.Type == "e" ? "-5" : "15"; })
				   .attr("dy", ".35em")
				   .attr("text-anchor", function(d) { return d.Type == "e" ? "start" : "end"; })
				   .text(function (d) { return d.ExpVal; })
                   .style("font", "12px sans-serif")
				   .style("fill-opacity", 1);

				   
				nodeEnter.on("click",function(d){
					angular.element(this).scope().vm.Open(d);
				});
				
				node.select("path")
				.attr("d", d3.svg.symbol().type(function(d)
				{
					return self.TypeToShape(d.Type);
				})
				.size(300))
				.attr("transform", function(d) {
				    var transform = "translate(" + 2 + "," + -1 + ")";
					if (d.Type==="e")
					{
						transform = transform+" rotate(30)"; 
					}
					return transform;
				})
				.style("fill", function(d){
					return self.TypeToColour(d.Type);
				});
				
				var nodeUpdate = node.transition();
				
				nodeUpdate.attr("transform", function(d) { 
				return "translate(" + d.y + "," + d.x + ")"; });
				
				nodeUpdate.select(".name")
						  .text(function(d) { return d.name; })
						  .style("fill-opacity", 1);

			    nodeUpdate.select(".prob")
                          .attr("x", function (d) { return d.Type == "e" ? "15" : "-20"; })
				          .attr("y", function (d) { return d.Type == "e" ? "10" : "30"; })
						  .text(function (d) { return d.Probability; })
						  .style("fill-opacity", 1);
				
			    nodeUpdate.select(".expval")
                          .attr("x", function (d) { return d.Type == "e" ? "15" : "-20"; })
				          .attr("y", function (d) { return d.Type == "e" ? "-5" : "15"; })
						  .text(function (d) { return d.ExpVal; })
						  .style("fill-opacity", 1);
						  
				node.exit().remove();

				// Declare the links
				var link = self.svg.selectAll("path.link")
				.data(links, function(d) { return d.target.id; });

				// Enter the links.
			    link.enter().insert("path", "g")
			        .attr("class", "link")
			        .attr("d", self.LineStyle(self.root.LineStyle))
			        .style("fill", "none")
                    .style("stroke", "#ccc")
                    .style("stroke-width", "2px")
				    .style("fill-opacity", function(d) { 
					    return d.id; 
				    });

				
				link.transition()
				.attr("d", self.LineStyle(self.root.LineStyle));
				
				link.exit().remove();
			}
		}
		rtn.SetupD3();
		rtn.SetupTree();
		rtn.RenderTree(rtn.root);
	
		return rtn;
	})();
	
	</script>
	</body>
</html>
